<div class="container">
  <div class='row'>
    <div class='room-for-navbar'>
      <%= form_for :article, url: articles_path(@article) do |f| %>
        <div class="article-form">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: "Title", class: 'form-control' %>
        </div>

        <div class="article-form">
          <%= f.label :exerpt %>
          <%= f.text_area :excerpt, placeholder: "Excerpt", class: 'form-control', rows: 5 %>
        </div>

        <div class="article-form">
          <%= f.label :content %>
          <%= f.text_area :content, placeholder: "Blog Post", class: 'form-control', rows: 20 %>
        </div>

        <div class="article-form">
          <%= f.submit 'Save Post', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>