<div class='fill'>
  <%= render 'home' %>
</div>

<div class='fill'>
  <%= render 'projects' %>
</div>

<div class='fill'>
  <%= render 'blog_excerpt' %>
</div>

<div class='fill'>
  <%= render 'about' %>
</div>

<div class='fill'>
  <%= render 'skills' %>
</div>
