<div class='' id='banner'>
  <%= render 'banner' %>
</div>

<div class="container">
  <div class='rounded' id='projects'>
    <%= render 'projects' %>
  </div>

  <div class='rounded' id='blog'>
    <%= render 'blog' %>
  </div>

  <div class='rounded' id='resume'>
    <%= render 'resume' %>
  </div>

  <div class='rounded' id='about'>
    <%= render 'about' %>
  </div>

  <div class='rounded' id='contact'>
    <%= render 'contact' %>
  </div>
</div>