<div class='' id='banner'>
  <%= render 'banner' %>
</div>

<div class='' id='projects'>
  <%= render 'projects' %>
</div>

<div class='' id='blog'>
  <%= render 'blog' %>
</div>

<div class='' id='resume'>
  <%= render 'resume' %>
</div>

<div class='' id='about'>
  <%= render 'about' %>
</div>

<div class='' id='contact'>
  <%= render 'contact' %>
</div>